:root {
    --main: rgb(76, 156, 160);
    --back: #DAF9FD;
    --hover: rgba(204, 96, 120, 0.87);
}

body {
    width: 70rem;
    margin: 0 auto;
    background-image: url("images/clear-blue-sky.jpeg");
    background-repeat: no-repeat;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

form {
    text-align:  center;
}

label {
    margin: 10px;
    color: var(--main);
}

input {
    padding: 0;
    margin-bottom: 10px;
    width: 80%;
}

h1 {
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 6em;
    color: var(--main);
}

h2 {
    color: var(--main);
}

h3 {
    color: var(--main);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--main);
}

a:hover {
    color: var(--hover);
}

.border {
    margin: 1em;
    padding: 1em;
    background-color: var(--back);
    border-style: solid;
    border-width: 5px;
    border-color: var(--main);
    border-radius: 30px;
    text-align: center;
}